<%= form_with(model: [@article, @article.comments.build], remote: true) do |form| %>

  <div class="card">
    <div class="card-header">Comment text:</div>
    <div class="card-body">

      <div class="field">
        <%= form.text_area :commentText%>
      </div>
      <br>
      <%= form.submit 'Submit', class: 'btn btn-primary' %>
    </div>
  </div>

<% end %>
