<div class="container_basic">
  <br>
  <h2>Registered users: </h2>
  <br>
  <table class="table">
    <thead class="thead-light">
    <tr>
      <th scope="col">id</th>
      <th scope="col">email</th>
      <th scope="col">roles</th>
    </tr>
    </thead>
    <tbody id="userTable">
    <% @users.each do |user| %>
      <%= render 'user_row', user: user %>
    <% end %>
    </tbody>
  </table>
</div>