<%= javascript_pack_tag('pace') %>
<div class="container_basic">
  <br>
  <div class="card">
    <div class="card-header">
      <h1>Running Pace Caluculator</h1>
    </div>
    <div class="card-body">
      <h5 class="card-title">Calculate your prefered pace or time</h5>
      <br>
      <p>Distance: <input type="text" placeholder="km" id="distance"/> km</p>
      <p>Time: <input type="text" placeholder="hours" id="hours"/> : <input type="text" placeholder="minutes" id="minutes"/> : <input type="text" placeholder="seconds" id="seconds"/></p>
      <p>Pace: <input type="text" placeholder="Minutes" id="pace_field_m"/> : <input type="text" placeholder="Seconds" id="pace_field_s"/> minutes per km.</p>
      <br>
      <p><button id="calculateP_btn" onclick="pace()" class="btn btn-primary">Calculate Pace</button>  <button id="clr_btn" onclick="pace()" class="btn btn-secondary">Clear</button> <button id="calculateT_btn" onclick="pace()" class="btn btn-primary">Calculate Time</button></p>
    </div>
  </div>
</div>

